@model  ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 " style="position: relative; margin: auto; ">


        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMessage</div>
        }

    <form asp-controller="Account" asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="OldPassword" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="OldPassword" value="@Model.OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group row">
            <label asp-for="NewPassword" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="NewPassword" type="password" value="@Model.NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="NewPasswordAgain" class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <input asp-for="NewPasswordAgain" type="password" value="@Model.NewPasswordAgain" class="form-control" />
                <span asp-validation-for="NewPasswordAgain" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-md-7 offset-md-5">
                <button type="submit" class="btn " style="background-color:navy; color:white;">GÖNDER</button>
            </div>
        </div>

    </form>

    </div>
</div>

