@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6" style="position: relative; margin: auto;">


        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMessage</div>
        }

        <form asp-controller="Auth" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Email" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" value="@Model.Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Password" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-7 offset-md-5">
                    <button type="submit" class="btn" style="background-color:navy; color:white;">GİRİŞ YAP</button>
                </div>
            </div>

        </form>


    </div>
</div>

